DirectoryIndex index.php index.html

Options -Indexes

RewriteEngine On

# ⚡ PERMITIR archivos reales (como uploads)
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# ⚡ TODO lo demás va a index
RewriteRule ^ index.php [L]